<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <head>
    <title>UniversalViewer</title>
    <link rel="stylesheet" th:href="@{/css/viewer.css}" />
  </head>
  <body>
    <section layout:fragment="content">
      <header>
        <h1>Object-Viewer: UniversalViewer</h1>
      </header>

      <div class="uv" id="uv-container" th:attr="data-uri=@{|${manifestId}|}"></div>

      <div th:replace="fragments/license :: images"></div>

    </section>

  <th:block layout:fragment="morejs">
    <script type="text/javascript" id="embedUV" th:src="@{|/webjars/universalviewer/${iiifVersions.universalviewer}/dist/uv-${iiifVersions.universalviewer}/lib/embed.js|}"></script>
    <script type="text/javascript">
      setTimeout(function(){
        var iframe = $('#uv-container > iframe');
        $('.iiif-metadata-component:first .item._logo img', iframe.contents()).css({
          'background-color': 'white',
          'padding': '3px'
        });
      }, 3000);
    </script>
  </th:block>
</body>
</html>