<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <head>
    <title>Diva Viewer</title>
    <link rel="stylesheet" th:href="@{/css/viewer.css}" />
    <link rel="stylesheet" th:href="@{/webjars/diva.js/build/css/diva.min.css}" />
  </head>
  <body>
    <section layout:fragment="content">
      <header>
        <h1>Object-Viewer: Diva</h1>
      </header>

      <div id="diva-container"></div>

      <div th:replace="fragments/license :: images"></div>
    </section>
  <th:block layout:fragment="morejs">
    <script th:src="@{/webjars/diva.js/build/js/diva.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      $('#diva-container').diva({
      enableCanvas: true,
      enableDownload: true,
      enableFullscreen: false,
      enableIIIFMetadata: true,
      enableZoomControls: 'slider',
      minZoomLevel: 0.10,
      objectData: /*[[@{|${manifestId}|}]]*/,
      zoomLevel: 1
      });
      /*]]>*/
    </script>
  </th:block>
  </body>
</html>