<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <head>
    <title>OpenSeadragon Viewer</title>
    <link rel="stylesheet" th:href="@{/css/viewer.css}" />
  </head>
  <body>
    <section layout:fragment="content">
      <header>
        <h1>Image-Viewer: Openseadragon</h1>
      </header>

      <main>
        <div id="osd-container"></div>
        <script th:src="@{|/webjars/openseadragon/${iiifVersions.openseadragon}/build/openseadragon/openseadragon.min.js|}"></script>
        <script type="application/javascript" th:inline="javascript">
          var viewer = OpenSeadragon({
          id: 'osd-container',
          /*<![CDATA[*/
          prefixUrl: /*[[@{|/webjars/openseadragon/${iiifVersions.openseadragon}/build/openseadragon/images/|}]]*/,
          /*]]>*/
          tileWidth: 64,
          /*<![CDATA[*/
          tileSources: /*[[@{|${infoUrl}|}]]*/
          /*]]>*/
          });
        </script>
      </main>

      <div th:replace="fragments/license :: image"></div>

    </section>
  </body>
</html>