<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
  <th:block th:fragment="image">
    <div class="alert alert-warning" role="alert">
      <strong>License:</strong>
      The demo image is part of the "Ottheinrich-Bibel" presented by the Bavarian State Library
      <a href="https://api.digitale-sammlungen.de/iiif/presentation/v2/bsb00026283/canvas/41/view">here</a>.
      It is under the "Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)"-License
      (see <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">http://creativecommons.org/licenses/by-nc-sa/4.0/</a>).
    </div>
  </th:block>
  <th:block th:fragment="images">
    <div class="alert alert-warning" role="alert">
        <strong>License:</strong>
        The demo images are part of the "Ottheinrich-Bibel" presented by the Bavarian State Library
        <a href="https://api.digitale-sammlungen.de/iiif/presentation/v2/bsb00026283/canvas/41/view">here</a>.
        They are under the "Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)"-License
        (see <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">http://creativecommons.org/licenses/by-nc-sa/4.0/</a>).
      </div>
  </th:block>
</body>
</html>
