/* global */
body {
  padding-top: 100px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons {
  vertical-align: middle;
}

/* navbar */
.navbar-brand.logo img {
  height: 20px;
  margin-top: -5px;
}
