#leaflet-container, #osd-container, #uv-container {
  height: calc(100vh - 290px);
}

#mirador-container {
  height: calc(100vh - 220px);
  position: relative;
}

#mirador-container .mirador-osd-annotation-controls * {
  box-sizing: content-box;
}

#mirador-container .metadata-listing .metadata-item {
  padding-top: 5px;
}

#mirador-container .metadata-listing .metadata-label,
#mirador-container .metadata-listing .metadata-value {
  display: inline;
}

#mirador-container .metadata-listing .metadata-label {
  font-weight: bold;
  margin-right: 10px;
}

#mirador-container .metadata-listing img {
  display: block;
}

main > .tify-app {
  height: calc(100vh - 290px);
  position: relative;
}

.tify-app > .tify-header .tify-header_title {
  font-size: 20px;
}