<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <body>
    <section layout:fragment="content">

      <header>
        <h1>About</h1>
      </header>

      <p>The IIIF Server Demo uses Spring Boot serving a Spring MVC + Thymeleaf-Templates webapplication.<br/>
        (See <a href="https://spring.io/guides/gs/spring-boot/" target="_blank">https://spring.io/guides/gs/spring-boot/</a>.)</p>

      <p>Images are resolved by the demo specific classpath-access and currently only can serve the images contained in the application JAR. But you also could extend the resolvers for HTTP- or File-Protocol in the properties-files.</p>
    </section>
  </body>
</html>
