<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" th:href="@{/favicon.ico}"/>

    <title>IIIF Server Demo</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <!-- Font awesome CSS -->
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/webjars/ie10-viewport-bug-workaround/1.0.3/dist/ie10-viewport-bug-workaround.min.css}" rel="stylesheet"/>

    <!-- HighlightJS theme-->
    <link rel="stylesheet" th:href="@{/webjars/highlightjs/9.12.0/styles/atom-one-light.css}" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/theme.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"></script>
      <script th:src="@{/webjars/respond.js/1.4.2/dest/respond.min.js}"></script>
    <![endif]-->
  </head>

  <body role="document">
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:inline="javascript">
      /*<![CDATA[*/
      var url = /*[[@{/webjars/jquery/3.2.1/dist/jquery.min.js}]]*/;
              window.jQuery || document.write('<script src="' + url + '"><\/script>');
      /*]]>*/
    </script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/webjars/ie10-viewport-bug-workaround/1.0.3/dist/ie10-viewport-bug-workaround.min.js}"></script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">
            <span>
              <img th:src="@{/images/logo-iiif.png}" />
            </span> IIIF Server Demo
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:class="${active == 'home'} ? 'active'">
              <a th:href="@{/}">Home</a>
            </li>
            <li th:class="${active == 'about'} ? 'active'">
              <a th:href="@{/about}">About</a>
            </li>
            <li class="dropdown" th:classappend="${active == 'demos'} ? 'active'">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">IIIF Image API</li>
                <li><a th:href="@{/image-request-url.html}">Basics: Image Request URI Syntax</a></li>
                <li><a th:href="@{/image-info-url.html}">Basics: Image Information URI Syntax</a></li>
                <li><a th:href="@{/bsb00026283_00041/view_image.html}">Image-Viewer: OpenSeadragon</a></li>
                <li><a th:href="@{/bsb00026283_00041/view_leaflet-image.html}">Image-Viewer: Leaflet-IIIF</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">IIIF Presentation API</li>
                <li><a th:href="@{/bsb00026283/presentation-manifest-url.html}">Basics: Presentation manifest</a></li>
                <li><a th:href="@{/ecodices/presentation-collection-url.html}">Basics: Collection manifest</a></li>
                <li><a th:href="@{/bsb00026283/view_mirador.html}">Object-Viewer: Mirador</a></li>
                <li><a th:href="@{/bsb00026283/view_universal.html}">Object-Viewer: UniversalViewer</a></li>
                <li><a th:href="@{/bsb00026283/view_leaflet-presentation.html}">Object-Viewer: Leaflet-IIIF</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <section layout:fragment="content">
        ...
      </section>

      <footer class="footer">
        <p>visit us on <a href="https://github.com/dbmdz" target="_blank">GitHub</a> - License: <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
      </footer>

    </div> <!-- /container -->

    <script th:src="@{/webjars/highlightjs/9.12.0/highlight.pack.min.js}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  <th:block layout:fragment="morejs"> </th:block>
</body>
</html>
