<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">
  <body>
    <section layout:fragment="content">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>IIIF Server Demo</h1>
        <p>This is a standalone demo server demonstrating the usage and features of <a href="https://github.com/dbmdz/iiif-image-api">IIIF Image API Java Library</a> and <a href="https://github.com/dbmdz/iiif-presentation-api">IIIF Presentation API Java Library</a> (Java implementations of the <a href="http://iiif.io/technical-details/">IIIF specifications</a>) and showcasing different IIIF viewers. You can have a look at its <a href="https://github.com/dbmdz/iiif-server-demo">code</a> as reference implementation for using the IIIF API Java Libraries.</p>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">IIIF Image API 2.0</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                <a th:href="@{/demo/image-api-url.html}" class="list-group-item">
                  <h4 class="list-group-item-heading">Image API Url</h4>
                  <p class="list-group-item-text"><i class="glyphicon glyphicon-play-circle"></i> View demo of Image API Url params.</p>
                </a>
                <a th:href="@{/demo/bsb00026283_00041/view_image.html}" class="list-group-item">
                  <h4 class="list-group-item-heading">OpenSeadragon viewer</h4>
                  <p class="list-group-item-text"><i class="glyphicon glyphicon-play-circle"></i> View zoomable image demo (using OpenSeadragon 2.0.0 viewer)</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">IIIF Presentation API 2.0</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                <a th:href="@{/demo/bsb00026283/view_presentation.html}" class="list-group-item">
                  <h4 class="list-group-item-heading">Mirador viewer</h4>
                  <p class="list-group-item-text"><i class="glyphicon glyphicon-play-circle"></i> View pagable image demo (using Mirador 2.0.0 viewer)</p>
                </a>
                <a th:href="@{/demo/bsb00026283/view_universal.html}" class="list-group-item">
                  <h4 class="list-group-item-heading">UniversalViewer viewer</h4>
                  <p class="list-group-item-text"><i class="glyphicon glyphicon-play-circle"></i> View pagable image demo (using UniversalViewer 1.6.14 viewer)</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
