<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">
  <head>
    <title>IIIF-Leaflet Viewer</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/webjars/leaflet/1.0.3/dist/leaflet.css}" />
  </head>
  <body>
    <section layout:fragment="content">
      <header>
        <h1>IIIF-Leaflet viewer: Leaflet-IIIF 1.1.1 </h1>
      </header>
      <div id="map" style="width: 1000px; height: 700px;"></div>

      <p></p>
      
      <div class="alert alert-warning" role="alert" style="clear:both;">
        <strong>License:</strong>
        The demo image is part of the "Ottheinrich-Bibel" page "Einzug in Jerusalem" presented by the <a href="https://www.bsb-muenchen.de">Bavarian State Library</a> utilizing IIIF-Viewer Mirador <a href="https://api.digitale-sammlungen.de/iiif/presentation/bsb00026283/view.html?view=ImageView&amp;manifest=https%3A%2F%2Fapi.digitale-sammlungen.de%2Fiiif%2Fpresentation%2Fv2%2Fbsb00026283%2Fmanifest&amp;canvas=https%3A%2F%2Fapi.digitale-sammlungen.de%2Fiiif%2Fpresentation%2Fv2%2Fbsb00026283%2Fcanvas%2F41" target="_blank">here</a>.<br/>
        It is under the "Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)"-License (see <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">http://creativecommons.org/licenses/by-nc-sa/4.0/</a>)
      </div>

      <script th:src="@{/webjars/leaflet/1.0.3/dist/leaflet.js}"></script>
      <script th:src="@{/webjars/jquery/1.11.3/jquery.min.js}" type="text/javascript"></script>
      <script th:src="@{/webjars/leaflet-iiif/1.1.1/leaflet-iiif.js}"></script>
      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var map = L.map('map', {
          center: [0, 0],
          crs: L.CRS.Simple,
          zoom: 0,
        });
        L.tileLayer.iiif(/*[[@{__${infoUrl}__}]]*/).addTo(map);
        /*]]>*/
      </script>
    </section>
  </body>
</html>
