<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Diva Viewer</title>

     <link rel="stylesheet" th:href="@{/js/vendor/diva/css/diva.min.css}"/>  

</head>
<section layout:fragment="content">
  <body>
    <div id="diva-wrapper"></div>
      <script th:src="@{/webjars/jquery/1.11.3/jquery.min.js}" type="text/javascript"></script>
      <script th:src="@{/js/vendor/diva/diva.min.js}" type="text/javascript"></script>
      <script type="text/javascript" th:inline="javascript">
       $('#diva-wrapper').diva({
                        fixedHeightGrid: false,
                        enableIIIFMetadata: true,
                         /*<![CDATA[*/
                        objectData: /*[[@{__${manifestId}__}]]*/
                         /*]]>*/
                        
                    });
    </script>
</body>
</section>
</html>