<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">
  <head>
    <title>UniversalViewer</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <section layout:fragment="content">
      <header>
        <h1>Object-Viewer: UniversalViewer</h1>
      </header>
      
      <div class="uv" data-locale="en-GB:English (GB),cy-GB:Cymraeg" data-config="" th:attr="data-uri=@{__${manifestId}__}" style="height:850px;"></div>

      <div class="alert alert-warning" role="alert">
        <strong>License:</strong>
        The demo images are under the "Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)"-License (see <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">http://creativecommons.org/licenses/by-nc-sa/4.0/</a>)
      </div>

      <script type="text/javascript" id="embedUV" th:src="@{/webjars/universalviewer/2.0.2/dist/uv-2.0.2/lib/embed.js}"></script>
    </section>
  </body>
</html>