<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">
  <body>
    <section layout:fragment="content">
      <header>
        <h1>IIIF Zoom viewer: Openseadragon 2.0.0</h1>
      </header>

      <main>
        <div id="preview" class="openseadragon" style="width: 1000px; height: 700px;"></div>
        <script th:src="@{/js/vendor/openseadragon/openseadragon.min.js}"></script>
        <script type="application/javascript" th:inline="javascript">
          var viewer = OpenSeadragon({
          id: "preview",
          prefixUrl: "/img/vendor/openseadragon/",
          tileWidth: 64,
          /*<![CDATA[*/
          tileSources: /*[[${infoUrl}]]*/
          /*]]>*/
          });
        </script>
      </main>
      
      <p></p>
      
      <div class="alert alert-warning" role="alert">
        <strong>License:</strong>
        The demo image is part of the "Ottheinrich-Bibel" page "Einzug in Jerusalem" presented by the <a href="https://www.bsb-muenchen.de">Bavarian State Library</a> <a href="http://daten.digitale-sammlungen.de/bsb00026283/image_41">here</a>.<br/>
      It is under the "Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)"-License (see <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">http://creativecommons.org/licenses/by-nc-sa/4.0/</a>)
      </div>

    </section>
  </body>
</html>
