<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">
  <body>
    <section layout:fragment="content">
      <div class="uv" data-locale="en-GB:English (GB),cy-GB:Cymraeg" data-config="" th:attr="data-uri=@{__${manifestId}__}" data-collectionindex="0" data-manifestindex="0" data-sequenceindex="0" data-canvasindex="0" data-zoom="-1.0064,0,3.0128,1.3791" data-rotation="0" style="width:1024px; height:850px; background-color: #000"></div>
    
      <script type="text/javascript" id="embedUV" th:src="@{/js/vendor/uv/lib/embed.js}"></script>
    </section>
  </body>
</html>
