<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/mirador/2.5.1/css/mirador-combined.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/canvasLink.css}" />
    <title>Mirador Viewer</title>
    <style type="text/css">
      body { font-size: 14px; }
      body > div.container { width: 100% !important; }
    </style>
  </head>
  <body>
    <section layout:fragment="content">
<!--      <header>
        <h1>Object-Viewer: Mirador</h1>
      </header>-->
      
      <div id="viewer"></div>
    </section>

  <th:block layout:fragment="morejs">
    <script th:src="@{/webjars/mirador/2.5.1/mirador.min.js}"></script>
    <script th:src="@{/js/canvasLink.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      $(function(){
        Mirador({
          'id': 'viewer',
          'buildPath': /*[[@{/webjars/mirador/2.5.1/}]]*/,
          'workspaceType': 'bookReading',
          'layout': '1x1',
          'mainMenuSettings': {
            'show': true,
            'buttons': {
              'layout': true
            },
            'userLogo': {
              'label': 'Object-Viewer: Mirador',
              'attributes': { 'href': 'http://iiif.io' }
            },
            'userButtons': [{
              'label': 'IIIF-Manifest',
              'iconClass': 'fa fa-file-text',
              'attributes': {
                'class': 'file',
                'href': /*[[@{__${manifestId}__}]]*/,
                'target': '_blank'
              }
            }]
          },
          'showAddFromURLBox': false,
          'saveSession': false,
          'data': [{
            /*<![CDATA[*/
            'manifestUri': /*[[@{__${manifestId}__}]]*/
            /*]]>*/
          }],
          'windowObjects': [{
            /*<![CDATA[*/
            'loadedManifest': /*[[@{__${manifestId}__}]]*/,
            /*]]>*/
            'viewType': 'ImageView',
            'layoutOptions': {
              'close': false,
              'slotRight': false,
              'slotLeft': false,
              'slotAbove': false,
              'slotBelow': false
            },
            'annotationLayer': true,
            'annotationCreation': true,
            'saveSession': false,
            'displayLayout': true,
            'bottomPanel': true,
            'sidePanel': true
          }],
          'annotationEndpoint': { 'name':'Local Storage', 'module': 'LocalStorageEndpoint' },
          'canvasLink': {
            'showShareButtons': true
          }
        });
      });
    </script>
  </th:block>
</body>
</html>
