<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <head>
    <title>TIFY Viewer</title>
    <link rel="stylesheet" th:href="@{/css/viewer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/tify//tify.css}" />
  </head>
  <body>
    <section layout:fragment="content-fluid">
      <div class="container">
        <header>
          <h1>Object-Viewer: TIFY</h1>
        </header>
      </div>

      <main>
        <div id="tify-container"></div>
      </main>

      <div class="container" th:include="fragments/license :: images"></div>

    </section>

  <th:block layout:fragment="morejs">
    <script type="application/javascript" th:inline="javascript">
      tifyOptions = {
        'container': '#tify-container',
        'manifest': /*[[@{|${manifestId}|}]]*/
      }
    </script>
    <script th:src="@{/webjars/tify/tify.js}"></script>
  </th:block>
</body>
</html>