<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <head>
    <title>TIFY Viewer</title>
    <link rel="stylesheet" th:href="@{/css/viewer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/tify/${iiifVersions.tify}/tify.css|}" />
    <style type="text/css">
      body > div.container { width: 100% !important; }
    </style>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container">
        <header>
          <h1>Object-Viewer: TIFY</h1>
        </header>
      </div>

      <main>
        <div id="tify-container"></div>
        <script type="application/javascript" th:inline="javascript">
          tifyOptions = {
            'container': '#tify-container',
            'manifest': /*[[@{|${manifestId}|}]]*/
          }
        </script>
        <script th:src="@{|/webjars/tify/${iiifVersions.tify}/tify.js|}"></script>
      </main>

      <div class="container" th:include="fragments/license :: images"></div>

    </section>
  </body>
</html>