<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <head>
    <title>IIIF-Leaflet Viewer</title>
    <link rel="stylesheet" th:href="@{/css/viewer.css}" />
    <link rel="stylesheet" th:href="@{|/webjars/leaflet/${iiifVersions.leaflet}/dist/leaflet.css|}" />
  </head>
  <body>
    <section layout:fragment="content">
      <header>
        <h1>Image-Viewer: Leaflet-IIIF</h1>
      </header>
      <div id="leaflet-container"></div>

      <div th:replace="fragments/license :: image"></div>

      <script th:src="@{|/webjars/leaflet/${iiifVersions.leaflet}/dist/leaflet.js|}"></script>
      <script th:src="@{|/webjars/leaflet-iiif/${iiifVersions['leaflet-iiif']}/leaflet-iiif.js|}"></script>
      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var map = L.map('leaflet-container', {
          center: [0, 0],
          crs: L.CRS.Simple,
          zoom: 0,
        });
        L.tileLayer.iiif(/*[[@{|${infoUrl}|}]]*/).addTo(map);
        /*]]>*/
      </script>
    </section>
  </body>
</html>